*pyc
src/stanhf.egg-info
src/__pycache__
build
examples/__pycache__
examples/example
examples/example.stan
examples/example_data.json
examples/example_init.json
examples/model
examples/model.stan
examples/model_data.json
examples/model_init.json
*hepdata*